<div class="">

<h2 class="text-white text-center text-2xl">Log in</h2>



  <div class="flex justify-center text-white mt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

   <%if alert.present? %>
    <div class="flex justify-center  bg-red-600 text-white text-lg p-4 max-w-[350px]">
        <p class="text-center"><%= alert %></p>
    </div>
    <%end%>

  <div class="mt-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-zinc-800" %>
  </div>

  <div class="mt-4">
    <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "current-password", class: "text-zinc-800" %>
  </div>

 

  <div class="flex justify-center mt-4">
  <button class="text-lg text-white bg-blue-500 p-2 rounded-md active:scale-105 shadow-xl">
  <%= f.submit "Log in"%>
  </button>
  </div>


<div class="text-center space-y-2 mt-4">

<%= link_to "Sign up", new_customer_registration_path %>
</div>

<% end %>
</div>




</div>