<div class="w-full">
  <div class="space-y-2 max-lg:justify-center max-lg:flex-col items-center flex gap-5 justify-between lg:items-end">
 
    <div class="space-y-2">
    <h1 class="font-bold text-4xl text-white">Relatório</h1>
      <div class="text-white bg-green-600  text-sm w-fit p-2">
    <%= link_to 'Exportar totais', export_report_nfces_path(format: :xlsx), target: :_blank, class: "underline" %>
    </div>
    </div>



  <form action="<%= root_path %>" method="get" class="flex gap-5 items-end">
  <div class="flex flex-col gap-2">
    <label for="start_date" class="text-white">Data inicio:</label>
    <input id="start_date" name="start_date" type="date" value="<%= @start_date.to_date %>" />
  </div>

  <div class="flex flex-col gap-2">
    <label for="end_date" class="text-white">Data final:</label>
    <input id="end_date" name="end_date" type="date" value="<%= @end_date.to_date %>" />
  </div>
  
  <button type="submit" class="text-lg text-white bg-blue-500 p-2 rounded-md active:scale-105 shadow-xl">Filtrar</button>
  </form>
  </div>

  <div class="flex max-md:flex-col gap-5 md:justify-between">
  <div class="mt-5 space-y-2 ">
    <% if @start_date == Date.today.beginning_of_month && @end_date == Date.today.end_of_month.end_of_day %>
    <h1 class="text-blue-500 font-medium text-2xl">Totais mês atual</h1>
  <% else %>
  <h1 class="text-white text-xl">Total do periodo de <%= @start_date.to_date.strftime("%d/%m/%Y") %> a <%= @end_date.to_date.strftime("%d/%m/%Y") %> </h1>
  <% end %>
    <h2 class="text-white text-xl">Nota: <span class="font-bold"><%= @total %></span></h2>
    <h2 class="text-white text-xl">Tributo: <span class="font-bold"><%= @total_value_tributo %></span></h2>
    <h2 class="text-white text-xl"> IPI: <span class="font-bold"><%= @total_value_api %></span></h2>
    <h2 class="text-white text-xl"> ICMS: <span class="font-bold"><%= @total_value_icms %></span></h2>
    <h2 class="text-white text-xl">
    Média dos valores das NFCEs: <span class="font-bold"><%= @average_value %></span>
  </h2>
  </div>


<div class="mt-10">
  <h1 class="text-white text-xl font-bold">NFCEs processadas: <%=@nfces_by_period.count%></h1>
</div>
</div>


<div class="mt-10 space-y-5 border-t-2 pt-5">

 <div>
    <h2 class="text-white text-xl">
    Totais de NFCEs processadas no sistema: <span class="font-bold"><%= @total_nfces %></span>
  </h2>
  
</div>


<div class="flex flex-wrap gap-5 items-center max-md:justify-center justify-between ">
<h1 class="text-white text-xl font-bold">Todas as NFCEs processadas</h1>

  
 <div class="flex items-center gap-2">
 
  <div>
     <% if params[:search_filter].present? %>
    <form action="<%= root_path %>" method="get" >
      <button type="submit" name="search_filter" value="" class="text-blue-500 hover:underline">Clear</button>
    </form>
  <% end %>
  </div>

  
  <form action="<%= root_path %>" method="get">   
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="search_filter"  name="search_filter" value="<%= params[:search_filter] %>"  class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NÚMERO" required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Pesquisar</button>
    </div>
</form>


 </div>
</div>




 
 <div class="max-lg:flex justify-center">
  <div class="text-white bg-green-600  text-sm w-fit p-2">
  <%= link_to 'Exportar todas NFCEs ', nfces_path(format: :xlsx), target: :_blank, class: "underline" %>
  </div>
 </div>

<%if flash[:removed_nfce].present?%>
 <p class="text-green-600 text-xl">
  Nota removida com sucesso!
  </p >
<%end%>
 
 <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                  Número
                </th>
                <th scope="col" class="px-6 py-3">
                    Data de emissão
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                     total value products
                </th>
                <th scope="col" class="px-6 py-3">
                    Total
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
         <% @nfces.each do |nfce| %> 
        <tr> 
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            <%= nfce.numero_nota %> 
          </th>
            <td class="px-6 py-4">
            <%= nfce.data_emissao.strftime("%d/%m/%Y") %> 
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
      <%= nfce.valor_total_produtos %> 
          </td>
          <td class="px-6 py-4">
            <%= nfce.valor_total %> 
          </td>
          <td class="px-6 py-4 w-40">
        <%= link_to "Ver", nfce_path(nfce), class: "text-lg text-white hover:text-blue-500 bg-blue-500 p-2 rounded-md active:scale-105 shadow-xl" %>
          </td>
          </tr> 
        <% end %> 
        </tbody>
    </table>
</div>
</div>
</div>
